<div id="<%= dom_id property %>">
  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

  <p>
    <strong>Type offer:</strong>
    <%= property.type_offer_id %>
  </p>

  <p>
    <strong>Type property:</strong>
    <%= property.type_property_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

</div>
